# ==============================================================================
# CONFIGURACIÓN DE VARIABLES DE ENTORNO: BACKEND PIZZERÍA
# ==============================================================================

# Puerto de escucha del servidor Express
PORT=3000

# Conexión a Base de Datos PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=pizzeria_user
DB_PASSWORD=pizzeria_pass_1234
DB_NAME=pizzeria_db

# Entorno de ejecución (development / production)
NODE_ENV=development
